@media screen and (max-width: 1540px){

    .main-menu{
        height: 695px;
    }
    
    .header-logo{
        margin-left: 80px;
    }
    
    .header-logo .top-text{
        font-size: 48px;
    }
    
    .bottom-text{
        font-size: 32px;
        margin-top: -8px;
    }
    
    .topnav a{
        padding: 12px 36px;
        font-size: 24px;
    }
    
    .topnav a:hover{
        border-bottom: 4px solid #81c4e7;
    }
    
    .menu-text{
        margin-left: 80px;
    }
    
    .desc-top{
        font-size: 36px;
    }
    
    .desc-bottom{
        font-size: 24px;
    }
    
    
    .ticket-description{
        height: 484px;
        margin-top: 4px;
    }
    
    .desc-left{
        margin-left: 80px;
        margin-top: 80px;
    }

    .desc-left img{
        height: 80%;
    }
    
    .ticket-price{
        height: 2304px;
    }
    
    
    .wb-bg{
        height: 120px;
    }
    
    .wb-bg2{
        height: 120px;
    }
    
    .wristbands{
        font-size: 68px;
    }
    
    .wr-desc{
        font-size: 28px;
        margin-top: -48px;
    }
    
    .wrst{
        font-size: 40px;
        height: 316px;
    }
    
    .single-ride{
        font-size: 40px;
        margin-top: 40px;
        height: 1600px;
    }
    
    .pricepm{
        margin-top: 24px;
    }
    
    .price{
        height: 64px;
        font-size: 56px;
    }
    
    .cnt{
        font-size: 56px;
        margin-left: 16px;
    }
    
    .pm{
        border: #81c4e7 solid 4px;
        margin-left: 32px;
        width: 128px;
        height: 64px;
        font-size: 40px;
        border-radius: 16px;
    }
    
    .pm2{
        margin-left: 16px;
    }
    
    .rides{
        margin-top: 4px;
        height: 2304px;
    }
    
    .rides-text{
        padding-top: 24px;
    }
    
    .rides-table img{
        padding-top: 40px;
    }
    
    .name-text{
        margin: 8px 10% 0px 10%;
        font-size: 28px;
    }
    
    .desc-text{
        margin: 8px 10% 0px 10%;
        font-size: 18px;
    }
    
    .restaurants{
        margin-top: 4px;
        height: 1684px;
    }
    
    .rest-text{
        padding-top: 24px;
    }
    
    .shopping{
        margin-top: 4px;
        height: 1600px;
    }
    
    .bottom-shop{
        font-size: 24px;
    }
    
    .shop-name{
        font-size: 36px;
    }
    
    .shop-desc{
        font-size: 24px;
    }
    
    .foot{
        height: 144px;
    }
    
    .foot-name{
        margin-top: 24px;
        font-size: 32px;
        margin-left: 80px;
    }
    
    .foot-desc{
        margin-top: 8px;
        font-size: 16px;
        margin-left: 80px;
    }

}    